* {
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
}

html {
    font-family: sans-serif;
    margin: 0 10px 10px 10px;
}

header {
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    color: white;
    margin-top: 10px;
}

ul#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

ul#menu > li {
    display: inline-block;
    background-color: pink;
    border-radius: 1vw;
}

ul#menu > li > a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
}

section {
    height: 100vh;
    display: block;
}

#about img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-top: 10%
}

