@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
    /* --secondary-color: pink; */
    --secondary-color: color()
    --page-color: #f5f5f5;
    --border-color: #ccc;
    --primary-font: 'Inconsolata';
    --secondary-font: monospace;
}

html {
    font-family: var(--primary-font), var(--secondary-font);
}

header {
}

body {
    background-color: var(--page-color, #f5f5f5);
    margin-top: 0;
}

nav {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    color: white;
    margin-top: 10px;
}

ul#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul#menu > li {
    display: inline-block;
    border-radius: 1dvw;
    background-color: rgba(255, 192, 203, .5);
}

ul#menu > li > a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1em;
}

section {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color, #ccc);
}

section#about h1 {
    font-size: 3rem;
    margin: 0;
    padding: 1dvh;
}

section#about p {
    font-size: 1.5rem;
    padding: 1dvh;
}

section > h2 {
    font-size: 2rem;
    width: 100%;
}

#about img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-top: 10%;
}

section#projects ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5dvw;
    width: 90%;
    height: 90%;
}

section#projects ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    border-radius: 1dvw;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
}

section#projects ol li > h3 {
    z-index: 90;
    margin: 0;
    width: 100%;
    display: flex;
    font-size: 2rem;
    margin: 1dvh 0 0 1dvw;
}

section#projects ol li picture {
    width: 100%;
    height: 100%;
}

section#projects ol li picture img {
    width: 100%;
    height: 100%;
    border-radius: 1dvw;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    filter: blur(2px); /* Adjust the value to control the level of blur */
}

section#projects ol li a {
    display: block;
    text-decoration: none;
    color: inherit;
}

section#projects ol li:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

section#projects ol li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

section#projects ol li:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

section#projects ol li:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

section#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#resume > h2 {
    width: 100%;
}

section#resume picture {
    height: 85%;
}

section#resume picture img {
    height: 100%;
    align-items: center;
    display: block;
    margin: 0 auto;

}

section#resume button {
    background-color: var(--primary-color, #333);
    color: white;
    border: none;
    margin: auto 0;
    padding: .5dvh 1dvw;
    border-radius: 1dvw;
    font-size: 1.5rem;
    cursor: pointer;
}

section#contact form {
    display: block;
    background-color: rgb(205, 232, 241);
    border-radius: 1dvw;
    padding: 1dvw;
    width: 50%;
    border: 1px solid var(--border-color, #ccc);
    margin: auto auto;
}

section#contact form h3 {
    text-align: center;
    margin-bottom: 1dvw;
}

section#contact form label {
    display: block;
    text-align: left;
    margin-bottom: 1dvh;
}

section#contact form input, textarea {
    width: 100%;
    margin-bottom: 1dvh;
    padding: 1dvh;
    border-radius: 1dvw;
    border: 1px solid var(--border-color, #ccc);
}

section#contact form textarea {
    height: 30vh;
    resize: none;
}

section#contact form button {
    background-color: var(--primary-color, #333);
    color: white;
    border: none;
    padding: .5dvh 1dvw;
    border-radius: 1dvw;
    font-size: 1.5rem;
    cursor: pointer;
}

